@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><a>Olá pessoal!</a>.</h1><br />
    <h3> Os programas necessários para o teste, estão no menu acima!</h3><br />

    <h5>No documento do teste havia um código de exemplo para aplicação console, porém, pedia para que fosse WebApp Mvc, então fiz desta forma. </h5><br />
    <p> Até breve </p>
    
</div>
