@model FatorialModel

<h2>Calcular Fatorial</h2>

<form action="/Fatorial/Fatorial" method="post">
    <label>Insira um número:</label>
    <input type="number" name="Numero" value="@Model.Numero" required min="0" />
    <button type="submit">Calcular Fatorial</button>
</form>

@if (Model.Resultado != 0)
{
    <h3>Resultado: @Model.Resultado</h3>
}
